body {
  padding-bottom: 30px;
}
.jumbotron {
  position: relative;
}
.carbonad {
  border: none !important;
}
.navbar-brand:hover {
  color: #9d9d9d !important;
}
@media (min-width: 992px) {
  .carbonad {
    top: 28px !important;
  }
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.bs-docs-footer {
  border-radius: 4px;
}
.list-unstyled li {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    height: 378px;
  }
  .caption {
    border-top: 1px solid #ddd;
    margin-top: 5px;
  }
  div.img {
    height: 300px;
    position: relative;
  }
  div.img>img {
    max-height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 992px) {
  .thumbnail {
    height: 254.16px;
  }
  .caption {
    border-top: 1px solid #ddd;
    margin-top: 5px;
  }
  div.img {
    height: 176.17px;
    position: relative;
  }
  div.img>img {
    max-height: 176.17px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    overflow: hidden;
  }
  .page-header {
    clear: both;
  }
}

img.teacher {
  float: right;
  height: 15em;
  margin: 1em;
}
